<div style="margin: 10%">
</div>
<div class="container">
  <div>
    <h2 class="text-center textTituloAmarillo">Perfil Profesional</h2>
    <p>Emprendedor, técnico contable, Desarrollador de software y con 10 años de experiencia en liquidación de Nómina, seguridad social y legislación laboral.
        Desde hace 5 años me desempeño como consultor de nómina y gestión humana, prestando servicio de auditoria, liquidación de nómina, seguridad social y soporte, implementación y asesorías en el sistema Kactus HCM y en trámites de requerimientos de la UGPP
    </p>
  </div>
  <div>
      <h2 class="text-center textTituloAmarillo">Experiencia Laboral</h2>
      <div class="row" *ngFor="let exp of experienciaLaboral">
        <div class="col-12">
          <div class="row">
            <div class=" col-2 offset-4 text-right pr-0 ">
                <img src="{{exp.logo}}" class="bg-white rounded-circle img-fluid border" alt="" width="90px" width="90px">
            </div>
            <div class="col-6 text-left pt-3">
                <h3 class="cargo">{{exp.cargo}}</h3>
                <h4>{{exp.empresa}}</h4>
            </div>
          </div>
        </div>
        <div class="col-12 tarjetaExperiencia">
            <div class="col-2 text-right h-100 ">
              <div class="fechasExperiencia">
                  {{exp.fechaFin}}
                  {{exp.fechaInicio}}
              </div>
              <div class="puntoDivisor rounded-circle">
              </div>
            </div>
            <div class="col-10 tarjetaExperienciaDetalle">
              <br>
              <br>
                  <p *ngFor="let act of exp.actividad" class="mb-1">{{act}}</p>
            </div>
        </div>
      </div>
  </div>

</div>
