<div style="margin: 10%">
</div>
<div class="container">
  <div>
    <h2 class="text-center textTituloAmarillo">Perfil Profesional</h2>
    <p>Emprendedor, técnico contable, Desarrollador de software y con 10 años de experiencia en liquidación de Nómina, seguridad social y legislación laboral.
        Desde hace 5 años me desempeño como consultor de nómina y gestión humana, prestando servicio de auditoria, liquidación de nómina, seguridad social y soporte, implementación y asesorías en el sistema Kactus HCM y en trámites de requerimientos de la UGPP
    </p>
  </div>
  <div>
      <h2 class="text-center textTituloAmarillo">Experiencia Laboral</h2>
      <div class="row" *ngFor="let exp of experienciaLaboral">
        <div class="col-12">
          <div class="row">
            <div class=" col-2 offset-4 text-right pr-0 ">
                <img src="{{exp.logo}}" class="bg-white rounded-circle img-fluid border" alt="" width="90px" width="90px">
            </div>
            <div class="col-6 text-left pt-3">
                <h3 class="cargo">{{exp.cargo}}</h3>
                <h4>{{exp.empresa}}</h4>
            </div>
          </div>
        </div>
        <div class="col-12 tarjetaExperiencia">
            <div class="col-2 text-right h-100 ">
              <div class="fechasExperiencia">
                  {{exp.fechaFin}}
                  {{exp.fechaInicio}}
              </div>
              <div class="puntoDivisor rounded-circle">
              </div>
            </div>
            <div class="col-10 tarjetaExperienciaDetalle">
              <br>
              <br>
                  <p *ngFor="let act of exp.actividad" class="mb-1">{{act}}</p>
            </div>
        </div>
      </div>
  </div>
  <div class="container">
      <h2 class="text-center textTituloAmarillo">Educación</h2>
      <br>
      <div class="container ">
          <div class="row">
              <div class="col-5 tarjetaEducacion">
                <div class="row">
                    <div class="col-3 text-right ">
                        <img src="../../assets/SENA.png" alt="" class="img-fluid rounded-circle" width="100px" height="100px">
                    </div>
                    <div class="col-9 text-left mt-4">
                        <h5>Técnico Contabilidad y Finanza</h5>
                        <h6>Servicio Nacional de Aprendizaje SENA</h6>
                    </div>
                </div>
              </div>
              <div class="col-5 offset-1 tarjetaEducacion">
                  <div class="row">
                      <div class="col-3 text-right ">
                          <img src="../../assets/SENA.png" alt="" class="img-fluid rounded-circle" width="100px" height="100px">
                      </div>
                      <div class="col-9 text-left mt-4">
                          <h5>Técnologo Analisis y desarrollo de software</h5>
                          <h6>Servicio Nacional de Aprendizaje SENA</h6>
                      </div>
                  </div>
              </div>
              <div class="col-5 tarjetaEducacion">
                  <div class="row">
                      <div class="col-3 text-right ">
                          <img src="../../assets/goldenBD.svg" alt="" class="img-fluid" width="100px" height="100px">
                      </div>
                      <div class="col-9 text-left mt-4">
                          <h5>Carrera en Bases de Datos</h5>
                          <h6>Platzi</h6>
                      </div>
                  </div>
              </div>
              <div class="col-5 offset-1 tarjetaEducacion">
                  <div class="row">
                      <div class="col-3 text-right ">
                          <img src="../../assets/goldenEM.svg" alt="" class="img-fluid" width="100px" height="100px">
                      </div>
                      <div class="col-9 text-left mt-4">
                          <h5>Carrera en Email Marketing</h5>
                          <h6>Platzi</h6>
                      </div>
                  </div>
              </div>
              <div class="col-5 tarjetaEducacion">
                  <div class="row">
                      <div class="col-3 text-right ">
                          <img src="../../assets/goldenPB.svg" alt="" class="img-fluid" width="100px" height="100px">
                      </div>
                      <div class="col-9 text-left mt-4">
                          <h5>Carrera en Fundamentos de Programación</h5>
                          <h6>Platzi</h6>
                      </div>
                  </div>
              </div>
              <div class="col-5 offset-1 tarjetaEducacion">
                  <div class="row">
                      <div class="col-3 text-right ">
                          <img src="../../assets/goldenDG.svg" alt="" class="img-fluid" width="100px" height="100px">
                      </div>
                      <div class="col-9 text-left mt-4">
                          <h5>Carrera en Diseño Grafico</h5>
                          <h6>Platzi</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div>
    <h2 class="text-center textTituloAmarillo">Educación Complementaria</h2>
      <br>
      <div class="row">
    <div *ngFor="let curso of cursos" class="col-4 tarjetaEducacionContinuada text-center">
      <img src="{{curso.badge}}" class="img-fluid" alt="{{curso.title}}" width="100px" height="100px">
      <div class="card-body">
        <h5 class="card-title">{{curso.title}}</h5>
        <h6 *ngIf="!curso.instituto" >Platzi</h6>
        <h6 *ngIf="curso.instituto" >{{curso.instituto}}</h6>
        <a *ngIf="curso.diploma_link" target="_blank"  href="http://platzi.com/{{curso.diploma_link}} " class="rounded-pill btn btn-outline-warning  btnAmarilloGrande text-black-50">ver certificado</a>
      </div>
    </div>
    </div>
  </div>
</div>
