@import "../../assets/styles/variables.scss";

.Portafolio {
  display: grid;
  max-width: 100vw;
  margin-top: 4%;
  & > div {
    margin: 0% 7%;
    text-align: justify;
    & > h2 {
      text-align: center;
      margin-top: 5%;
    }
    & > p {
      margin-top: 2%;
      & > b{
        margin: 0 1%;
      }
    }
  }
  & > h2 {
    text-align: center;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 619px) {
  .Portafolio{
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

}

@media (min-width: 620px) {

}
