$animationSpeed: 35s;
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-5% * 50));
  }
}

.Herramientas{
  width: 98vw;
  margin-top: 5%;
  text-align: center;
  color: $color-oscuro;
  &__content{
    width: 98vw;
    @include styleScrollX;
  }
  &__icons {
    display: -webkit-box;
    animation: scroll $animationSpeed linear;
    animation-iteration-count: infinite;
  }
}