@import "../../assets/styles/variables.scss";
.Layout {
  display: grid;
  min-height: 100vh;
}

@media (min-width: 620px) {
  .Layout {
    grid-template-rows: 60px auto 150px;
    grid-template-areas:
      "header"
      "main"
      "footer";
    & > header {
      grid-area: header;
    }
    & > main {
      grid-area: main;
    }
    & > footer {
      grid-area: footer;
    }
  }
}
@media (max-width: 619px) {
  .Layout {
    grid-template-rows: 60px auto 300px;
    grid-template-areas:
      "header"
      "main"
      "footer";
    & > header {
      grid-area: header;
    }
    & > main {
      grid-area: main;
      margin-bottom: 10%;
    }
    & > footer {
      grid-area: footer;
    }
  }
}
