$color-primario-claro: #ffe100;
$color-primario-oscuro: #ffb200;
$color-primario-degradado: to bottom, $color-primario-claro 0%, $color-primario-oscuro 100%;
$color-contraste-claro: #fd2eb3;
$color-contraste-oscuro: #d82aa3;
$color-contraste-degradado: to bottom, $color-contraste-claro 0%, $color-contraste-oscuro 100%;
$color-oscuro: #372f49;
$color-claro: #f4edf2;
$size-sombra: 0px 3px 6px 0px;
$opacity: 0.5;
$font-size-desk: 15px;


@mixin paddingGlobal {
  padding: 0% 3.5%;
}