@import "./var";
@import"./colors";
@import"./fonts";
@import "../components/iconSocialMedia/iconsSocialMedia";
@import "../components/Button/Buttons";
@import "../components/hero/Hero.scss";
@import "../components/TextIcon/TextIcon";
@import "../components/CardHorizontal/CardHorizontal";
@import "../components/Quote/Quote";
@import "../container/Layout/Layout.scss";
@import "../container/header/Header.scss";
@import "../container/footer/Footer.scss";
@import "../container/Herramientas/Herramientas";
@import "../container/GardenCardHorizontal/gardenCardHorizontal";
@import "../pages/Home/Home";
@import "../pages/AboutMe/AboutMe";

body {
    margin: 0;
    font-size: $font-size-desk;
}
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}



a {
    text-decoration: none;
}


.img-redonda {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-color: $color-claro;
    @include sombraOscura();
}


