@import "./var";
@import"./colors";
@import"./fonts";
@import "../container/Layout/Layout.scss";
@import "../container/header/Header.scss";
@import "../container/footer/Footer.scss";
@import "../components/iconSocialMedia/iconsSocialMedia";
@import "../components/Button/Buttons";
@import "../components/hero/Hero.scss";
@import "../pages/Home/Home";

body {
    margin: 0;
    font-size: $font-size-desk;
}
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

.styleScroll {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 30px;
        width: 2px;
        height: 2px;
        background: fade-out($color-primario-claro, 0.8);
    }
    &::-webkit-scrollbar-thumb:hover {
        display: block;
        box-shadow: 0 0 2px 1px fade-out($color-primario-claro, 0.5);
        background: $color-primario-oscuro;
    }
}

.styleScrollX {
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 30px;
        width: 2px;
        height: 2px;
        background: fade-out($color-oscuro, $opacity);
    }
    &::-webkit-scrollbar-thumb:hover {
        display: block;
        box-shadow: 0 0 2px 1px fade-out($color-primario-claro, 0.5);
        background: $color-primario-oscuro;
    }
}

a {
    text-decoration: none;
}


.img-redonda {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-color: $color-claro;
    @include sombraOscura();
}


