.Home {
  &__Hero {
    &__text {
      display: flex;
      flex-direction: column;
      &-saludo {
        font-family: Script;
        font-size: 2em;
      }
      &-perfile {
        display: flex;
        flex-direction: column;
        & > h3 {
          font-size: 1.3rem;
          font-style: italic;
        }
        &-line {
          align-self: start;
          border-top: 3px solid $color-contraste-claro;
          width: 150px;
          writing-mode: vertical-rl;
        }
        &-text {
          max-width: 380px;
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Home {
    &__Hero {
      &__text {
        align-items: center;
        &-saludo {
          text-align: center;
          font-family: Script;
          font-size: 2em;
        }
        &-SocialMedia {
          display: flex;
          justify-content: center;
        }
        &-perfile {
          text-align: center;
          align-content: center;
          align-items: center;
          & > h3 {
            font-size: 1.5rem;
            font-style: italic;
          }
          &-line {
            justify-self: center;
            border-top: 3px solid $color-contraste-claro;
            writing-mode: initial;
          }
          &-text {
            max-width: 80%;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .Home {
    &__Hero {
      &__text {
        &-saludo {
          font-size: 18px;
        }
        &-perfile {
          & > h3 {
            font-size: 16px;
          }
          &-text {
            font-size: 14px;
          }
        }
      }
    }
    & > .Hero .HeroTextImg {
      &__img {
        display: none;
      }
    }
  }
}
