@import "../../assets/styles/variables.scss";

.Card {
  position: relative;
  width: 200px;
  min-height: 370px;
  display: grid;
  grid-template-rows: minmax(100px, auto) 1fr 4fr;
  grid-template-areas: "img" "title" "text";
  justify-content: center;
  align-items: center;
  margin: 4%;
  transition: 450ms all;
  @extend .sombraSegundario;
  & > img {
    grid-area: img;
    width: 100%;
    object-fit: contain;
  }
  & > h3 {
    grid-area: title;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $color-primario;
  }
  & > p {
    grid-area: text;
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    height: 100%;
    padding: 0 6%;
  }
}
.Card:hover {
  width: 230px;
  min-height: 370px;
  transform: translate3d(2%,2%,2%);
  @extend .sombraOscura;
  & > h3 {
    background-color: $color-segundario;
  }
}


@media (max-width: 619px) {
  .Card {
    width: 80%;
  }
}
