<nav id="navbar" class="navbar navbar-dark navbar-expand-lg">
    <a class="navbar-brand" href="#"> <img src="../../assets/LogoRedondo.svg" width="60px" height="60px" alt="Logo Alejandro Lopez Ramirez | AlejoZepol"></a>
    <ul id="navLista" class="nav navbar-nav align-self-center">
        <li class="nav-item" routerLinkActive="active">
          <a class="btn nav-link" routerLink="/inicio/" >
            <img src="../assets/IconoInicio.svg" alt="IconoInicio" width="36px">
            Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="btn  nav-link" routerLink="/login/" >
            <img src="../assets/IconoQuienSoy.svg" alt="IconoInicio" width="36px">
            ¿Quien Soy?</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="btn  nav-link" routerLink="/login/" >
              <img src="../assets/IconoCV.svg" alt="IconoInicio" width="36px">Curriculum Viate CV</a>
          </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="btn  nav-link" routerLink="/login/" >
            <img src="../assets/IconoPortafolio.svg" alt="IconoInicio" width="36px">Portafolio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <button class="btn btn-outline-warning  btnAmarilloGrande rounded-pill">Trabajemos Juntos</button>
        </li>
    </ul>
  </nav>
<router-outlet></router-outlet>
