<nav id="navbar" class="navbar navbar-dark navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#"> <img src="../../assets/LogoRedondo.svg" width="60px" height="60px" alt="Logo Alejandro Lopez Ramirez | AlejoZepol"></a>
    <ul id="navLista" class="nav navbar-nav align-self-center">
        <li class="nav-item" routerLinkActive="active">
          <a class="btn nav-link" routerLink="/inicio/" >
            <img src="../assets/IconoInicio.svg" alt="IconoInicio" width="36px">
            Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="btn  nav-link" routerLink="/QuienSoy/" >
            <img src="../assets/IconoQuienSoy.svg" alt="IconoInicio" width="36px">
            ¿Quien Soy?</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="btn  nav-link" routerLink="/cv/" >
              <img src="../assets/IconoCV.svg" alt="IconoInicio" width="36px">Curriculum Viate CV</a>
          </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="btn  nav-link" routerLink="/login/" >
            <img src="../assets/IconoPortafolio.svg" alt="IconoInicio" width="36px">Portafolio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <button class="btn btn-outline-warning  btnAmarilloGrande rounded-pill">Trabajemos Juntos</button>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  <div class="row">
  <div class="col-5">
    <div class="container">
      <div class="row contenedorInscripcion">
          <div class="col-4">
              <img class="img-fluid text-right" src="../assets/megafono.svg" width="130px" height="130px" alt="Megafono">
            </div>
            <div class="col-8">
                <p class="footerText text-left">Cuentame de emprendimiento, <br>
                tecnología y nuevos proyectos</p>
            </div>
            <div class="col-12 text-center">
                <div class="input-group text-center">
                    <input class="inputCorreo" type="email" aria-describedby="inscripcionCorreo" placeholder="Correo electronico">
                    <button class="btnIncripcionCorreo" type="button" id="inscripcionCorreo">Suscripbeme</button>
                </div>
            </div>
      </div>
    </div>
  </div>
  <div class="col-2 text-center">
      <img class="img-fluid" src="../assets/LogoRedondo.svg" width="200px" height="200px" alt="Megafono">
      <p>hecho en 🇨🇴 con 💛 y pasion</p>
      <br>
      <p><b>© AlejoZepol 2019</b></p>
</div>
  <div class="col-5 text-center">
      <img src="../assets/Contactame.svg" width="60px" height="60px" alt="Contactame">
      <p class="text-center"><b>Contactame</b> </p>
      <input class="inputFormulario" type="text"  placeholder="Nombres">
      <input class="inputFormulario" type="email" placeholder="Correo Electronico">
      <input class="inputFormulario inputDescripcion" type="text"  placeholder="Descripción">
      <button class="btn btnNegroGrande rounded-pill">Suscripción</button>
  </div>
</div>
</footer>
