<nav class="bg-navbar navbar fixed-top navbar-light p-0">
    <a routerLink="" >
        <b class="borderText">
            <img src="../assets/LogoRedondo.svg" alt="LogoAlejoZepol" width="70px;">
            Alejandro López
        </b>
      </a>
  <ul class="position-relative align-self-baseline m-0">
    <li routerLinkActive="active">
      <a routerLink="/inicio/">
        <b class="borderText">
            <img src="../assets/IconoInicio.svg" alt="IconoInicio" width="36px">
          Inicio</b>
      </a>
    </li>
    <li routerLinkActive="active">
      <a href="#" routerLink="/QuienSoy/">

         <b class="borderText">
            <img src="../assets/IconoQuienSoy.svg" alt="IconoInicio" width="36px">
          ¿Quién soy?
        </b>
      </a>
    </li>
    <li routerLinkActive="active">
        <a href="#" routerLink="/cv/">
        <b class="borderText">
            <img src="../assets/IconoCV.svg" alt="IconoInicio" width="36px">
            Curiculum Vitae
          </b>
        </a>
      </li>
    <li routerLinkActive="active">
        <a href="#" routerLink="/portafolio/">
        <b class="borderText">
            <img src="../assets/IconoPortafolio.svg" alt="IconoInicio" width="36px">
          Portafolio
        </b>
        </a>
      </li>
      <li>
        <button class="btnGrandeAmarillo borderText">Trabajemos Juntos</button>
      </li>
  </ul>
</nav>

<router-outlet></router-outlet>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <div class="row">
          <div class="col-4">
              <img class="img-fluid text-right" src="../assets/megafono.svg" width="130px" height="130px" alt="Megafono">
          </div>
          <div class="col-8">
              <p class="footerText text-left">Cuentame de emprendimiento, <br>
                tecnología y nuevos proyectos</p>
          </div>
          <div class="col-12 input-group text-center">
            <input class="inputCorreo" type="email" aria-describedby="inscripcionCorreo" placeholder="Correo electronico">
            <button class="btnIncripcionCorreo" type="button" id="inscripcionCorreo">Suscripbeme</button>
          </div>
        </div>
      </div>
      <div class="col-2 text-center">
          <img class="img-fluid" src="../assets/LogoRedondo.svg" width="200px" height="200px" alt="Megafono">
          <p>hecho en 🇨🇴 con 💛 y pasion</p>
          <br>
          <p><b>© AlejoZepol 2019</b></p>
      </div>
      <div class="col-5 text-center">
          <img src="../assets/Contactame.svg" width="60px" height="60px" alt="Contactame">
          <p class="text-center"><b>Contactame</b> </p>
          <input class="inputFormulario" type="text"  placeholder="Nombres">
          <input class="inputFormulario" type="email" placeholder="Correo Electronico">
          <input class="inputFormulario inputDescripcion" type="text"  placeholder="Descripción">
          <button class="btn btnNegroGrande rounded-pill">Suscripción</button>
      </div>
    </div>
  </div>
</footer>
