

@media (max-width: 600px) {
  .Footer {
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "suscription"
                          "brand";
    &__brand{
      margin-top: 5%;
    }
  }
}
@media (min-width: 601px) {
  .Footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "suscription brand";
  }
}

.Footer {
  display: grid;
  align-items: center;
  justify-self: center;
  background-color: $color-primario-claro;
  width: -webkit-fill-available;
  &__suscription {
    display: grid;
    grid-area: suscription;
    grid-template-columns: 80px repeat(2, 1fr);
    grid-template-rows: 80px 20px;
    grid-template-areas: "icon text text" "form form form";
    align-items: center;
    justify-self: center;
    max-width: 305px;
    & > form{
      display: grid;
      grid-area: form ;
      grid-template-columns: 80px repeat(2, 1fr);
      grid-template-areas: "input input buton";
    }
    &-img {
      grid-area: icon ;
      width: 80px;
      height: 80px;
    }
    &-text{
      grid-area: text ;
    }
    &-input{
      grid-area: input;
      border-radius: 30px 0 0 30px;
      border: 1px $color-oscuro solid;
      &::placeholder{
        text-align: center;
      }
      &:focus{
        outline:0px;
        text-align: center;
      }
    }
    &-buton{
      grid-area: buton;
      border-radius: 0px 30px 30px 0;
      @include degragadoPrimario;
      &:focus{
        outline:0px;
        text-align: center;
      }
    }
  }
  &__brand{
    display: grid;
    grid-area: brand;
    justify-content: center;
    justify-items: center;
    text-align: center;
    grid-template-rows: 80px 1fr 1fr;
    &-img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: $color-oscuro;
    }
    &-title{
      font-weight: bold;
    }
  }
  &__contact{
    display: grid;
  }
}
