.iconsSocialMedia{
  margin: 5px;
  &-sm{
    width: 30px;
    height: 30px;
  }
  &-md{
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 768px) {
  .iconsSocialMedia{
    margin: 5px;
    &-md{
      width: 3em;
      height: 3em;
    }
  }
}