@import "../../assets/styles/variables.scss";

.CV {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "hero" "herramientas" "habilidades" "servicios";
  max-width: 100vw;
  & > div {
    margin: 0% 7%;
    text-align: justify;
    & > h2 {
      text-align: center;
      margin-top: 5%;
    }
    & > p {
      margin-top: 2%;
      & > b {
        margin: 0 1%;
      }
    }
  }
  &__Educacion {
    &-items {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__EducacionComplementaria {
    &-items {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: center;
      & > .TextIconRedondo:hover{
        border-radius: 30px;
        background-color: $color-contraste;
        @extend .sombraPrimario;
      }
    }
  }
}

@media (max-width: 619px) {
  .CV {
    & > div {
      margin: 0% 3%;
    }
    &__Educacion {
      &-items {
        grid-template-columns: 1fr;
      }
    }
    &__EducacionComplementaria {
      &-items {
        grid-template-columns: repeat(2,1fr) ;
      }
    }
  }
}

@media (min-width: 620px) {
}
