@import "../../assets/styles/variables.scss";

.Header {
  display: grid;
  align-items: center;
  background-color: $color-oscuro;
  @extend .sombraOscura;
  &__logo {
    display: grid;
    grid-area: logo;
    grid-template-columns: 60px auto;
    justify-content: space-around;
    align-items: center;
    grid-area: logo;
    &-img {
      width: 60px;
      height: 60px;
    }
    &-title {
      color: $color-primario;
    }
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: bmenu;
    background: $color-oscuro;
    border-radius: 30px;
    border: 1px $color-primario solid;
    color: $color-primario;
  }
  & > nav {
    display: grid;
    grid-area: nav;
    justify-self: center;
    color: $color-claro;
    & > a {
      color: $color-claro;
      & > .TextIcon {
        &:hover {
          border-bottom: 3px $color-primario solid;
        }
      }
    }
  }
}

@media (min-width: 620px) {
  .Header {
    grid-template-columns: 40% 60%;
    grid-template-areas: "logo nav";
    &__nav701 {
      grid-template-columns: repeat(4, 1fr);
    }
    &__nav700 {
      display: none !important;
    }
    &__menu {
      display: none;
    }
  }
}

@media (max-width: 619px) {
  .Header {
    grid-template-columns: 90% 10%;
    grid-template-areas:
      "logo bmenu"
      "nav nav";
    & > nav {
      justify-items: center;
      background-color: $color-oscuro;
      width: 100%;
      z-index: 1;
    }
    &__nav701 {
      display: none !important;
    }
  }
}