@import "../../assets/styles/variables.scss";

@media (max-width: 768px) {
  .Header {
    grid-template-columns: 7% 7% auto 7% 7%;
    grid-template-areas: "margin icons content iso marginB";
    &__atras {
      grid-area: icons;
    }
    &__logo {
      grid-area: content;
    }
    &__isotipo {
      grid-area: iso;
    }
  }
}

.Header {
  width: 100%;
  height: 100%;
  display: grid;
  background-color: $color-claro-primario;
  align-items: center;
  @extend .sombraOscura;
  &__logo{
    justify-self: center;
  }
}
