@import "./variables.scss";

body,
#app {
  margin: 0;
}

.Home {
  & > .Hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 40px);
    grid-template-areas:
      "img saludotitle"
      "img saludotitle";
    & > .text {
      grid-area: saludotitle;
      height: inherit;
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & > span {
        display: flex;
        & > h1 {
          margin-left: 1%;
        }
      }
    }
  }
}

@media (max-width: 619px) {
  .Home {
    & > .Hero {
      & > .text {
        & > span {
          flex-direction: column;
        }
      }
    }
  }
}

@media (min-width: 620px) {
}
